<div class="row">
  <div class="col-md-4">
    <button id="addCategory" class="abtn abtn--show-all" (click)="addCat = !addCat">Добавить категорию</button>
    <!--Почему-то не показывается кнопка, перенести потом в другую компоненту
    <br />
    <br />
    <button id="addEntry" class="abtn abtn--show-all hidden">Добавить материал</button>-->
  </div>
</div>

<app-category-create *ngIf="addCat" [addCat]="addCat"></app-category-create>

<div class="tree">

  <ul>
    <li *ngFor="let category of categories"
        [class.selected]="category === selectedCat"
        (click)="onSelect(category)"
        (click)="onShow(category)">
      <span>{{category.id}}</span>
      <span><i class="fa fa-folder-open"></i>{{ category.name }}</span>
      <span>{{category.id_language}}</span>
      <span>{{category.isPublic}}</span>
      <span>{{category.id_persons}}</span>
    </li>

  </ul>

</div>

<div *ngIf="selectedCat">
  <p>{{selectedCat.name}}</p>
  <ul>
    <li *ngFor="let doc of selectedDoc">
      <span>{{ doc.name }}</span>
    </li>
  </ul>
</div>

<div>

</div>

<app-documents></app-documents>
