<div class="row">
  <div class="col-md-4">
    <button id="addCategory" class="abtn abtn--show-all" (click)="setAddCatTrue()">Добавить категорию</button>
    <br />
    <br />
    <button id="addEntry" class="abtn abtn--show-all">Добавить материал</button>
  </div>
</div>

<div class="tree">

  <ul>
    <li *ngFor="let category of categories"
        [class.selected]="category === selectedCat"
        (click)="onSelect(category)"
        (click)="onShow(category)">
      <span>{{category.id}}</span>
      <span><i class="fa fa-folder-open"></i>{{ category.name }} <button (click)="setAddCatTrue()">Редактировать</button></span>
      <span>{{category.id_language}}</span>
      <span>{{category.isPublic}}</span>
      <span>{{category.id_persons}}</span>
    </li>

  </ul>

</div>


<div *ngIf="selectedCat">
  <p>{{selectedCat.name}}</p>
  <ul>
    <li *ngFor="let doc of selectedDoc">
      <span>{{ doc.name }}</span>
    </li>
  </ul>
</div>

<app-category-create [addCat]="addCategory" (onChanged)="onChanged($event)"></app-category-create>

<app-documents></app-documents>
